@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700&display=swap");

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  overflow: auto;
  background-color: mistyrose;
  background-image: linear-gradient(90deg, mistyrose 0%, white 100%);
  color: #9a2b46;
  font-family: "Work Sans", sans-serif;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

nav.flex-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12vh;
  padding: 0 20px;

  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.6s ease;
  z-index: 9999;
}

nav.flex-nav.sticky {
  position: fixed;
  background-color: #fff;
}

nav.flex-nav ul {
  list-style: none;
}

nav.flex-nav .ul-desktop {
  display: flex;
  align-items: center;
}

nav.flex-nav .ul-desktop li {
  flex: 1;
}

nav.flex-nav .ul-desktop li.contact {
  flex: 2;
  transition: 0.5s;
  margin: 0 0 0 0.5rem;
}

nav.flex-nav .ul-desktop li.contact a {
  border-radius: 2rem;
}

nav.flex-nav .ul-desktop li.contact:hover {
  transform: scale(1.1);
}

nav.flex-nav .ul-desktop li.contact:active {
  transform: scale(1);
}

nav.flex-nav .ul-desktop li:not(.contact) a:hover {
  background-color: mistyrose;
}

nav.flex-nav .ul-mobile li.contact {
  margin: 0;
}

nav.flex-nav li.contact a {
  color: #fff;
  padding: 10px 15px;
  background-color: #9a2b46;
}

nav.flex-nav .logo {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 1em;
  font-weight: 500;
}

nav.flex-nav li a {
  text-decoration: none;
  letter-spacing: 0.1em;
  padding: 5px 15px;
  font-weight: lighter;
  color: #9a2b46;
  font-size: 0.9em;
}

nav.flex-nav li:hover a {
  border-radius: 0.5rem;
}

nav.flex-nav .hamburger-nav {
  display: none;
  height: 2.5rem;
  width: 1.86rem;
  flex-direction: column;
  justify-content: space-evenly;
}

.hamburger-nav div {
  width: 100%;
  height: 0.2em;
  background-color: #9a2b46;
  transition: 0.5s all;
  transform-origin: 20%;
}

.hamburger-nav.open div {
  background-color: #9a2b46;
}

.hamburger-nav.open :nth-child(1) {
  transform: rotate(50deg);
}
.hamburger-nav.open :nth-child(3) {
  transform: rotate(-50deg);
}

.hamburger-nav.open :nth-child(2) {
  display: none;
}

.hamburger-nav :nth-child(2) {
  animation-name: displayDelay;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes displayDelay {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

@media only screen and (max-width: 600px) {
  nav.flex-nav .ul-desktop {
    display: none;
  }

  nav.flex-nav .hamburger-nav {
    display: flex;
  }

  .ul-mobile {
    position: absolute;
    width: 100%;
    height: calc(100vh - 12vh);
    background-color: #fff;
    background-image: linear-gradient(0deg, mistyrose 0%, white 100%);
    top: 12vh;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    animation: slideDown 0.5s;
    animation-fill-mode: both;
  }

  nav.flex-nav .ul-mobile.open {
    animation-name: slideUp;
    animation-duration: 1s;
  }
  .ul-mobile li {
    flex: 1 1 70px;
    width: 100%;
    display: flex;
    opacity: 0;
    align-items: center;
    justify-content: center;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: both;
  }
  .ul-mobile li a {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ul-mobile li.contact a {
    font-size: 0.9em !important;
  }

  nav.flex-nav .ul-mobile.close {
    display: none;
  }

  .flex-nav.white {
    background-color: #fff;
  }

  footer {
    padding: 0.4rem !important;
    left: 0 !important;
    transform: translate(0) !important;
    width: 100% !important;
    border-radius: unset !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
  }

  .scrollUp__button {
    bottom: 40px !important;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(100%);
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100%;
  padding-top: 12vh;
}

.section-container#contactus {
  background-color: #9a2b46;
  color: #fff;
}

footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.3rem;
  border-radius: 0.3rem 0.3rem 0 0;
  background-color: #fff;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}

.footer__links-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__links-container a {
  text-decoration: none;
  padding: 0 0.3rem;
}

.footer__links-container i.fa-facebook {
  color: #1778f2;
}

.footer__links-container i.fa-github {
  color: #211f1f;
}

.footer__links-container i.fa-gitlab {
  color: #fc6d27;
}

.footer__links-container i.fa-linkedin {
  color: #2867b2;
}

.footer__links-container i.fa-codepen {
  color: #000000;
}

.footer__links-container i.fa-envelope {
  color: #bb001b;
}

.footer__links-container i {
  font-size: 1.1rem;
}

.footer__links-container a:hover i {
  transform: scale(1.3);
}

.footer__links-container a:active i {
  transform: scale(1);
}

.scrollUp__button {
  position: fixed;
  cursor: pointer;
  bottom: 20px;
  right: 20px;
  padding: 0.3rem 0.5rem;
  border-radius: 0.3rem;
  border: 0;
  background-color: #fff;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  transition: 0.2s;
}

.scrollUp__button:hover {
  transform: scale(1.2);
}

.scrollUp__button:focus,
.scrollUp__button:active {
  outline: 0;
}
.scrollUp__button:active {
  transform: scale(1);
}

.scrollUp__button i {
  font-size: 1.3rem;
  color: #9a2b46;
}
